body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2139f5;
    color: white;
    padding: 20px;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #2139f5;
        width: 100%;
        top: 70px;
        left: 0;
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }
}
